body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: aliceblue;
}
div{
    color: aliceblue;
}
button{
    border: 2px white solid;
    color: white;
    background-color: black;
}